# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,css,h,groovy,htm,html,java,js,jsp,json,json5,kt,kts,less,md,properties,proto,py,sass,scss,sh,sq,sql,ts,xml,yaml,yml}]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_size = 4
indent_style = space

[*.less]
indent_style = space
indent_size = 2

[*.md]
indent_size = 4
indent_style = space
max_line_length = off
trim_trailing_whitespace = false

[*.py]
indent_style = space
indent_size = 4

[*.tmpl]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
