!.mvn/wrapper/maven-wrapper.jar
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!gradle/*.gradle
!gradle/*.gradle.kts
$RECYCLE.BIN/
*.7z
*.a
*.ap_
*.apk
*.bak
*.bundle
*.cab
*.cgo1.go
*.cgo2.c
*.class
*.ctxt
*.dex
*.dll
*.dmg
*.dylib
*.ear
*.egg
*.egg-info
*.exe
*.gem
*.gz
*.hprof
*.iml
*.ipr
*.iso
*.iws
*.jar
*.la
*.lai
*.launch
*.lib
*.lnk
*.lo
*.lock
*.log
*.msi
*.msm
*.msp
*.nar
*.o
*.obj
*.old
*.out
*.pch
*.pdb
*.pid
*.py[cod]
*.rar
*.rbc
*.rsp
*.sbr
*.sln.docstates
*.slo
*.so.*
*.sublime-workspace
*.suo
*.tar
*.tar.gz
*.tgz
*.tlh
*.tli
*.tmp
*.Trashes
*.user
*.war
*.zip
*/WEB-INF/lib/
*erase*
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated
.attach_pid*
.build.gradle.swp
.c9/
.cache/
.classpath
.coverage
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.factorypath
.fseventsd
.gradle
.gradle/
.hg
.hgignore
.hgtags
.history/*
.idea
.idea/
.idea/
.idea/sonarlint/
.LSOverride
.mtj.tmp/
.project
.pydevproject
.Rhistory
.settings
.settings/
.Spotlight-V100
.Spotlight-V11
.springBeans
.sts4-cache
.TemporaryItems
.trace.db
.Trashes
.vagrant/
.vertx/
.VolumeIcon.icns
.vscode/
.vscode/*
/*/*/*/WEB-INF/lib/
/*/*/target/
/*/*/WEB-INF/lib/
/*/target/
/*/WEB-INF/lib/
/.idea
/.nb-gradle/
/.sass-cache
/bazel-out
/connect.lock
/coverage
/dist
/dist/
/libpeerconnection.log
/nbbuild/
/nbdist/
/nbproject/private/
/node_modules
/out-tsc
/output/
/target/
/tmp
/typings
/WEB-INF/lib/
[Gg]en/
[Tt][Mm][Pp]/
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj/
_test/
_testmain.go
build/
chrome-profiler-events*.json
CMakeCache.txt
cpp/root/build/
dependency-reduced-pom.xml
Desktop.ini
dist/
ehthumbs.db
erase
erase.*
ethumbs.db
expanded-jars/
go/bin/
go/out/
go/output/
go/pkg/
go/src/code.google.com/
go/src/github.com/
go/src/golang.org/
go/src/gopkg.in/
go/src/launchpad.net/
HELP.md
heroku-deploy/
hs_err_pid*
Icon?
java/out/
java/output/
logs/
maven-status/
Network Trash Folder
node_modules/
npm-debug.log
root/src/gen/java/
sonarlint/
speed-measure-plugin*.json
src/**/*.map
tags
target/
Temporary Items
test-output/
testem.log
Thumbs.db
tmp/
yarn-error.log
