!bin/
!src/
#**/bin
**/*.*proj.user
**/*.class
**/*.dbmdl
**/*.jfm
**/*.proj.user
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.project
**/.settings
**/.settingstoolstarget
**/.toolstarget
**/.vs
**/.vscode
**/charts
**/compose*
**/docker-compose*
**/Dockerfile*
**/modules
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.y*ml
**/values.dev.y*ml
*.iso
*.md
*/modules
.cache
.dockerignore
.gcloudignore
.git
.gitignore
Dockerfile
Dockerfile*
logs/
modules
modules*
modules/*
passphrase.txt
passwords.txt
README.md
vendor/
